body {
    background-image: url('https://wallpapercave.com/wp/wp7378697.png');
}

#colorPicker {
    margin: 32px auto 32px auto;
    height: 40vh;
}

main {
    width: 80%;
    margin:0px auto 0px auto;
}

main * {
    display:flex;
    flex-direction:column;
}

article {
    width:100%;
}

#colorName {
    width:100%;

    color:var(--primaryTextColor);
    background-color:var(--primary);

    padding:16px;

    margin-top:8px;
    margin-bottom:8px;
}

#hex,#rgb {
    width:50%;

    color:var(--primaryTextColor);
    background-color:var(--primary);

    padding:16px;

    margin-top:8px;
    margin-bottom:8px;
}

#hex {
    margin-right:8px;
}

.tiles {
    flex-direction:row !important;
}