body {
    background-image: url('https://wallpapercave.com/wp/wp7378697.png');
}

* {
    font-family: sans-srif;
    font-size:20px;

    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}