body {
    background-image: url('https://th.bing.com/th/id/OIG4.RJb3jMaXvnnnFC0Go5Dv?pid=ImgGn');
}

#colorPicker {
    margin: 32px auto 32px auto;
    height: 40vh;
}

main {
    width: 45%;
    margin:0px auto 0px auto;
}

main * {
    display:flex;
    flex-direction:column;
}

#colorName, #colorName2, #colorClass {
    width:calc(100% - 32px);

    color:var(--primaryTextColor);
    background-color:var(--primary);

    padding:16px;

    margin-top:0px;
    margin-bottom:8px;
}

#hex,#rgb, #hsl, #cmyk, .smallTile {
    width:calc(50% - 4px);

    color:var(--primaryTextColor);
    background-color:var(--primary);

    padding:16px;
    
    margin-top:0px;
    margin-bottom:8px;
}

#hex, #hsl {
    margin-right:8px;
}

.tiles {
    flex-direction:row !important;
}

.tabBarHolder {
    position:absolute;
    top:8px;

    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display:flex;
    flex-direction:row !important;

    padding:8px;

    margin-bottom:8px;
}

.card input {
    margin-left:auto;
}

#length {
    width:50px;
}

.card {
    border-radius:15px;
}

h2 {
    border-radius:15px;
    margin-top:8px;
    margin-bottom:8px;
}

#allowedColorsDialog {
    display:none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    padding:8px;

    margin-top:8px;
}

#allowedColorsDialog .card {
    margin:0px;
}

.grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:8px;
}

#shades {
    background-color:black;
}

#tints {
    background-color:white;
}

#tones {
    background-color:gray;
}

.colorVariants {
    width:100%;

    margin-bottom:8px;

    display:flex;
    flex-direction:row;
}

.colorVariantsItem {
    margin:0px;

    height:100%;
    width:10%;

    color:TRANSPARENT;

    padding:16px;

    border-radius:0px;
}

.colorVariantsItem:nth-child(1) {
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

.colorVariantsItem:nth-child(2) {
    opacity:0.9;
}

.colorVariantsItem:nth-child(3) {
    opacity:0.8;
}

.colorVariantsItem:nth-child(4) {
    opacity:0.7;
}

.colorVariantsItem:nth-child(5) {
    opacity:0.6;
}

.colorVariantsItem:nth-child(6) {
    opacity:0.5;
}

.colorVariantsItem:nth-child(7) {
    opacity:0.4;
}

.colorVariantsItem:nth-child(8) {
    opacity:0.3;
}

.colorVariantsItem:nth-child(9) {
    opacity:0.2;
}

.colorVariantsItem:nth-child(10) {
    opacity:0.1;

    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}